@use '@/shared/shared' as *;

.button {
  @include centered();
  color: var(--pure-white);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;

  /* Body (M) */
  font-family: 'Outfit', serif;
  font-size: toRem(15);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 100%;
  border-radius: toRem(6);
  background: var(--red);
  padding: toRem(15) 0;
  @include transition(all, 0.2s);

  &:disabled {
    opacity: 0.5;
  }

  @include hover(all, 0.2s) {
    background: var(--pure-white);
    color: var(--semi-dark-blue);
  }
}
