@use '@/shared/shared' as *;

.form {
  @include column-flex();
  width: 100%;
  max-width: toRem(400);
  background: var(--semi-dark-blue);
  padding: toRem(24) toRem(24) toRem(32);
  border-radius: toRem(10);

  @include breakpoint($md) {
    border-radius: toRem(20);
  }
}

.title {
  align-self: flex-start;

  /* Heading (L) */
  font-family: 'Outfit', serif;
  font-size: toRem(32);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: toRem(-0.5);

  color: var(--pure-white, #fff);
  font-feature-settings: 'liga' off, 'clig' off;
}

.form-field {
  @include column-flex();
  margin: toRem(40) 0 0;
  gap: toRem(32);
}

.input-field {
  @include display-flex();
  gap: toRem(4);
  border-bottom: toRem(1) solid var(--greyish-blue);
  transition: border-bottom 0.3s ease-out;
  padding: 0 toRem(16);

  &:has(input:focus) {
    border-bottom: toRem(1) solid var(--pure-white);
  }

  &.invalid {
    border-bottom: toRem(1) solid var(--red);

    .error-msg {
      display: block;
    }

    &:has(input:focus) {
      border-bottom: toRem(1) solid var(--red);
    }
  }

  input {
    width: 100%;
    color: var(--pure-white);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body (M) */
    font-family: 'Outfit', serif;
    font-size: toRem(15);
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    background-color: #0000;
    padding: 0 0 toRem(18);
    border: none;
    outline: none;

    &::placeholder {
      color: var(--pure-white);
      opacity: 0.5;
    }
  }

  .error-msg {
    display: none;
    margin: 0;
    margin-top: toRem(2);
  }
}

.error-msg {
  color: var(--red);
  font-feature-settings: 'liga' off, 'clig' off;

  /* Body (S) */
  font-family: 'Outfit', serif;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  flex-shrink: 0;
  margin: toRem(10) toRem(4) toRem(16);
}

.ps {
  /* Body (M) */
  font-family: 'Outfit', serif;
  font-size: toRem(15);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--pure-white);
  font-feature-settings: 'liga' off, 'clig' off;
  text-align: center;

  margin: toRem(24) auto 0;

  .redirect-btn {
    color: var(--red);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body (M) */
    font-family: 'Outfit', serif;
    font-size: toRem(15);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: underline;
    text-decoration-color: #0000;

    @include hover(all, 0.2s) {
      text-decoration-color: var(--red);
    }
  }
}

.skeleton {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(214, 9%, 31%);
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &.index {
    &::after {
      z-index: 2;
    }
  }
}
