@use '@/shared/shared' as *;

.container {
  @include column-flex();
  gap: toRem(24);
  padding: 0 toRem(16);
  overflow-x: hidden;

  @include breakpoint($md) {
    gap: toRem(40);
    padding: 0 toRem(24);
  }
  @include breakpoint(toRem(1440)) {
    padding: 0 toRem(36);
  }
}
