@use '@/shared/shared' as *;

.item {
  @include column-flex();
  gap: toRem(8);
  width: 100%;
}

.img-container {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: toRem(8);
  background-color: lightgrey;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: inline;

    &.medium {
      display: none;
    }

    &.large {
      display: none;
    }

    @include breakpoint($md) {
      display: none;

      &.medium {
        display: inline;
      }
    }
    @include breakpoint(toRem(1440)) {
      display: none;

      &.medium {
        display: none;
      }

      &.large {
        display: inline;
      }
    }
  }
}

.content {
  @include column-flex();
  gap: toRem(4);

  @include breakpoint($md) {
    left: toRem(24);
    bottom: toRem(24);
  }
}

.details {
  @include display-flex();
  align-items: center;
  gap: toRem(8);
}

.year,
.type,
.rating {
  font-family: 'Outfit', serif;
  font-size: toRem(11);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--pure-white);
  opacity: 0.75;

  @include breakpoint($md) {
    font-size: toRem(13);
  }
}

.type {
  @include centered();
  gap: toRem(6);

  .icon {
    display: flex;
    width: toRem(12);
  }
}

.circle {
  display: flex;
  width: toRem(3);
  height: toRem(3);
}

.title {
  font-family: 'Outfit', serif;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--pure-white);

  @include breakpoint($md) {
    font-size: toRem(18);
  }
}
