@use '../shared/shared' as *;
@use '../typography' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --pure-white: #ffffff;
  --red: #fc4747;
  --dark-blue: #10141e;
  --greyish-blue: #5a698f;
  --semi-dark-blue: #161d2f;
  --font: 'Outfit', serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font);
  font-size: toRem(15);
  color: var(--pure-White);
  background: var(--dark-blue);
  overflow: auto;
  @include custom-scrollbar();

  @include breakpoint(toRem(1440)) {
    @include display-flex();
  }
}

main {
  width: 100%;
  padding: toRem(24) 0 toRem(60);
  overflow: auto;
  overflow-x: hidden;
  @include custom-scrollbar();

  @include breakpoint($md) {
    padding: toRem(32) 0 toRe(56);
  }
  @include breakpoint(toRem(1440)) {
    padding: toRem(64) 0 toRem(52);
  }
}

button {
  background: #0000;
  outline: none;
  border: none;
  cursor: pointer;
}
