@use '@/shared/shared' as *;

.container {
  @include column-flex();
  gap: toRem(24);
  padding: 0 toRem(16);
  overflow-x: hidden;

  @include breakpoint($md) {
    gap: toRem(40);
    padding: 0 toRem(24);
  }
  @include breakpoint(toRem(1440)) {
    padding: 0 toRem(36);
  }

  section {
    @include column-flex();
    gap: toRem(16);

    @include breakpoint($md) {
      gap: toRem(24);
    }
  }
}

.title {
  font-family: 'Outfit', serif;
  font-size: toRem(20);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: toRem(-0.312);
  color: var(--pure-white, #fff);

  @include breakpoint($md) {
    font-size: toRem(32);
    letter-spacing: toRem(-0.5);
  }
}
