@use '@/shared/shared' as *;

.section {
  @include column-flex();
  gap: toRem(16);

  @include breakpoint($md) {
    gap: toRem(24);
  }
}

.title {
  font-family: 'Outfit', serif;
  font-size: toRem(20);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: toRem(-0.312);
  color: var(--pure-white, #fff);
  align-self: flex-start;

  @include breakpoint($md) {
    font-size: toRem(32);
    letter-spacing: toRem(-0.5);
  }
}
