@use '@/shared/shared' as *;

.header {
  flex-shrink: 0;

  @include breakpoint($md) {
    padding: toRem(24) toRem(24) 0;
  }

  @include breakpoint(toRem(1440)) {
    @include display-flex();
    padding: toRem(32) 0 toRem(32) toRem(32);
  }
}

.container {
  position: relative;
  @include between-centered();
  padding: toRem(16);
  background: var(--semi-dark-blue);

  @include breakpoint($md) {
    padding: toRem(20) toRem(24);
    border-radius: toRem(10);
  }

  @include breakpoint(toRem(1440)) {
    flex-direction: column;
  }
}

.logo {
  display: flex;
  width: toRem(25);
  flex-shrink: 0;
  cursor: pointer;

  @include breakpoint($md) {
    width: toRem(32);
  }

  svg > path {
    @include transition(fill, 0.2s);
  }

  // &.active {
  //   svg > path {
  //     fill: var(--pure-white);
  //   }
  // }

  @include hover(fill, 0.2s) {
    svg > path {
      fill: var(--pure-white);
    }
  }
}

.avatar {
  display: flex;
  width: toRem(24);
  flex-shrink: 0;

  border-radius: toRem(24);
  border: toRem(1) solid var(--pure-white);
  border: 50%;
  overflow: hidden;
  cursor: pointer;

  @include breakpoint($md) {
    width: toRem(32);
  }
  @include breakpoint(toRem(1440)) {
    align-self: flex-end;
  }

  img {
    width: 100%;
    height: auto;
  }
}
