@use '@/shared/shared' as *;

.list {
  @include display-flex();
  width: 100%;
  list-style: none;
  gap: toRem(16);

  padding-left: toRem(16);

  @include breakpoint($md) {
    padding-left: toRem(24);
    gap: toRem(40);
  }
  @include breakpoint(toRem(1440)) {
    padding-left: toRem(36);
  }
}
